body {
  background: radial-gradient(
    circle,
    rgba(230, 57, 70, 1) 0%,
    rgba(168, 218, 220, 1) 94%
  );
  color: #f1faee;
}
h1 {
  text-align: center;
  font-size: 55px;
  margin-top: 0px;
}
.app {
  background-color: #457b9d;
  margin: 70px auto 10px;
  width: 60%;
  padding: 20px 20px 40px 40px;
  border-radius: 20px;
}
.label,
#timer-label {
  text-align: center;
}
.label{
  font-size: 25px;
}
#timer-label{
  font-size: 35px;
}
.button {
  width: 10%;
  height: 10%;
  font-size: 25px;
  color: #f1faee;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#break-length,
#session-length {
  font-size: 30px;
}
.wrapper {
  display: flex;
  justify-content: space-around;
}
.holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#time-left {
  font-size: 70px;
  text-align: center;
  margin: 10px auto 13px;
}
.reset-start {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}
#start_stop,
#reset {
  background-color: #ec9a9a;
  border: none;
  border-radius: 20px;
  width: 70px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  color:black;
}
@media (max-width: 415px){
  .app{
    margin: 100px auto 10px;
    padding: 40px;
  }
  h1{
    font-size: 40px;
    margin-top: 20px;
  }
  .label{
    font-size: 23px;
  }
  #timer-label{
    font-size: 35px;
  }
}